# Final small business loan approval  

This notebook marks the final loan approval work around for my final year capstone project.

## problem definition:
The case-study project: we assume the role of loan officer at a bank and try to approve or deny a loan by assessing its risk of default using machine learning models. The most accurate model will be picked for deployment and integration with an interface for interactive decision making.

## project objective:
The project will try to answer the following questions: As a representative of the bank, should I grant a loan to a particular small business (Company X)? Why or why not? The decision made by assessing a loan's risk.

generally:
The assessment is accomplished by estimating the loan's default probability through analyzing the historical dataset and then classifying the loan into one of two categories: (a) higher risk—likely to default on the loan (i.e., be charged off/failure to pay in full) or (b) lower risk—likely to pay off the loan in full. There have been many success stories of start-ups receiving SBA loan guarantees such as FedEx and Apple Computer. However, there have also been stories of small businesses and/or start-ups that have defaulted on their SBA-guaranteed loans. 

## Dataset:
The dataset used in this project is the U.S. Small Business Administration (SBA). Here is the link to the dataset- [Link Text](https://www.kaggle.com/datasets/mirbektoktogaraev/should-this-loan-be-approved-or-denied) 

The dataset is a real dataset from the U.S. Small Business Administration (SBA). The case-study assignment, titled “Should This Loan be Approved or Denied?” is designed to teach statistical thinking by focusing on how to use real data to make informed decisions for a particular purpose. For this assignment, students assume the role of a loan officer who is deciding whether to approve a loan to a small business.

In [2]:
# packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

# we want plots to appear inside the notebook
%matplotlib inline

# Models from sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
# from xgboost import XCBClassifier

# Model evaluations
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import roc_curve

# imports for column transformations
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Pipeline and feature selection
from sklearn.pipeline import Pipeline

# Loan Data

In [9]:
# this code ignores all the warnings 
import warnings
warnings.filterwarnings("ignore") # you can change "igonre" to "default"

In [3]:
# Import Dataset
sbanational_df = pd.read_csv('data/SBAnational/SBAnational.csv', low_memory=False)
sbanational_df.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [4]:
sbanational_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899164 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      899164 non-null  int64
 1   Name               899150 non-null  object
 2   City               899134 non-null  object
 3   State              899150 non-null  object
 4   Zip                899164 non-null  int64
 5   Bank               897605 non-null  object
 6   BankState          897598 non-null  object
 7   NAICS              899164 non-null  int64
 8   ApprovalDate       899164 non-null  object
 9   ApprovalFY         899164 non-null  object
 10  Term               899164 non-null  int64
 11  NoEmp              899164 non-null  int64
 12  NewExist           899028 non-null  float64
 13  CreateJob          899164 non-null  int64
 14  RetainedJob        899164 non-null  int64
 15  FranchiseCode      899164 non-null  int64
 16  UrbanRural         899164 non-null  int64
 17  RevLineCr          894636 non-null  object
 18  LowDoc             896582 non-null  object
 19  ChgOffDate         162699 non-null  object
 20  DisbursementDate   896796 non-null  object
 21  DisbursementGross  899164 non-null  object
 22  BalanceGross       899164 non-null  object
 23  MIS_Status         897167 non-null  object
 24  ChgOffPrinGr       899164 non-null  object
 25  GrAppv             899164 non-null  object
 26  SBA_Appv           899164 non-null  object
dtypes: float64(1), int64(9), object(17)
memory usage: 185.2+ MB

In [5]:
sbanational_df.MIS_Status.value_counts()

MIS_Status
P I F     739609
CHGOFF    157558
Name: count, dtype: int64

In [7]:
sbanational_df.shape

(899164, 27)

In [8]:
# check for duplicates
sbanational_df.duplicated().any()

False

# Clean data

In [10]:
sbanational_df.head().T

,0,1,2,3,4
LoanNr_ChkDgt,1000014003,1000024006,1000034009,1000044001,1000054004
Name,ABC HOBBYCRAFT,LANDMARK BAR & GRILLE (THE),"WHITLOCK DDS, TODD M.","BIG BUCKS PAWN & JEWELRY, LLC","ANASTASIA CONFECTIONS, INC."
City,EVANSVILLE,NEW PARIS,BLOOMINGTON,BROKEN ARROW,ORLANDO
State,IN,IN,IN,OK,FL
Zip,47711,46526,47401,74012,32801
Bank,FIFTH THIRD BANK,1ST SOURCE BANK,GRANT COUNTY STATE BANK,1ST NATL BK & TR CO OF BROKEN,FLORIDA BUS. DEVEL CORP
BankState,OH,IN,IN,OK,FL
NAICS,451120,722410,621210,0,0
ApprovalDate,28-Feb-97,28-Feb-97,28-Feb-97,28-Feb-97,28-Feb-97
ApprovalFY,1997,1997,1997,1997,1997
Term,84,60,180,60,240
NoEmp,4,2,7,2,14
NewExist,2.0,2.0,1.0,1.0,1.0
CreateJob,0,0,0,0,7
RetainedJob,0,0,0,0,7
FranchiseCode,1,1,1,1,1
UrbanRural,0,0,0,0,0
RevLineCr,N,N,N,N,N
LowDoc,Y,Y,N,Y,N
ChgOffDate,NaN,NaN,NaN,NaN,NaN
DisbursementDate,28-Feb-99,31-May-97,31-Dec-97,30-Jun-97,14-May-97
DisbursementGross,"$60,000.00","$40,000.00","$287,000.00","$35,000.00","$229,000.00"
BalanceGross,$0.00,$0.00,$0.00,$0.00,$0.00
MIS_Status,P I F,P I F,P I F,P I F,P I F
ChgOffPrinGr,$0.00,$0.00,$0.00,$0.00,$0.00
GrAppv,"$60,000.00","$40,000.00","$287,000.00","$35,000.00","$229,000.00"
SBA_Appv,"$48,000.00","$32,000.00","$215,250.00","$28,000.00","$229,000.00"

In [11]:
# check for missing values
sbanational_df.isna().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [16]:
len(sbanational_df["ChgOffDate"])

899164

In [17]:
# check percentage of missing values on ChgOffPrinGr
sbanational_df["ChgOffDate"].isna().sum()/len(sbanational_df["ChgOffDate"])

0.8190552557709161

In [20]:
# check percentage of missing values on all columns

def check_percentage_of_missing_data(df):
    total_rows = len(df)
    missing_percentage = (df.isna().sum() / total_rows)*100

    missing_dict = pd.DataFrame({
        "Column Name:": missing_percentage.index,
        "Percrentage of missing Data:": missing_percentage.values
    })

    print(missing_dict.to_string(index=False))

In [21]:
check_percentage_of_missing_data(sbanational_df)

     Column Name:  Percrentage of missing Data:
    LoanNr_ChkDgt                      0.000000
             Name                      0.001557
             City                      0.003336
            State                      0.001557
              Zip                      0.000000
             Bank                      0.173383
        BankState                      0.174162
            NAICS                      0.000000
     ApprovalDate                      0.000000
       ApprovalFY                      0.000000
             Term                      0.000000
            NoEmp                      0.000000
         NewExist                      0.015125
        CreateJob                      0.000000
      RetainedJob                      0.000000
    FranchiseCode                      0.000000
       UrbanRural                      0.000000
        RevLineCr                      0.503579
           LowDoc                      0.287156
       ChgOffDate                     81.905526
 DisbursementDate                      0.263356
DisbursementGross                      0.000000
     BalanceGross                      0.000000
       MIS_Status                      0.222095
     ChgOffPrinGr                      0.000000
           GrAppv                      0.000000
         SBA_Appv                      0.000000

In [22]:
# drop ChgOffDate
sbanational_df.drop('ChgOffDate', axis = 1, inplace=True)

In [24]:
# check for NaN values
sbanational_df.isna().sum()

LoanNr_ChkDgt           0
Name                   14
City                   30
State                  14
Zip                     0
Bank                 1559
BankState            1566
NAICS                   0
ApprovalDate            0
ApprovalFY              0
Term                    0
NoEmp                   0
NewExist              136
CreateJob               0
RetainedJob             0
FranchiseCode           0
UrbanRural              0
RevLineCr            4528
LowDoc               2582
DisbursementDate     2368
DisbursementGross       0
BalanceGross            0
MIS_Status           1997
ChgOffPrinGr            0
GrAppv                  0
SBA_Appv                0
dtype: int64

In [26]:
# drop all rows with missing values
sbanational_df.dropna(inplace=True)

In [27]:
# check if we still have missing values
sbanational_df.isna().sum()

LoanNr_ChkDgt        0
Name                 0
City                 0
State                0
Zip                  0
Bank                 0
BankState            0
NAICS                0
ApprovalDate         0
ApprovalFY           0
Term                 0
NoEmp                0
NewExist             0
CreateJob            0
RetainedJob          0
FranchiseCode        0
UrbanRural           0
RevLineCr            0
LowDoc               0
DisbursementDate     0
DisbursementGross    0
BalanceGross         0
MIS_Status           0
ChgOffPrinGr         0
GrAppv               0
SBA_Appv             0
dtype: int64

In [28]:
sbanational_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 886240 entries, 0 to 899163
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      886240 non-null  int64
 1   Name               886240 non-null  object
 2   City               886240 non-null  object
 3   State              886240 non-null  object
 4   Zip                886240 non-null  int64
 5   Bank               886240 non-null  object
 6   BankState          886240 non-null  object
 7   NAICS              886240 non-null  int64
 8   ApprovalDate       886240 non-null  object
 9   ApprovalFY         886240 non-null  object
 10  Term               886240 non-null  int64
 11  NoEmp              886240 non-null  int64
 12  NewExist           886240 non-null  float64
 13  CreateJob          886240 non-null  int64
 14  RetainedJob        886240 non-null  int64
 15  FranchiseCode      886240 non-null  int64
 16  UrbanRural         886240 non-null  int64
 17  RevLineCr          886240 non-null  object
 18  LowDoc             886240 non-null  object
 19  DisbursementDate   886240 non-null  object
 20  DisbursementGross  886240 non-null  object
 21  BalanceGross       886240 non-null  object
 22  MIS_Status         886240 non-null  object
 23  ChgOffPrinGr       886240 non-null  object
 24  GrAppv             886240 non-null  object
 25  SBA_Appv           886240 non-null  object
dtypes: float64(1), int64(9), object(16)
memory usage: 182.6+ MB

In [35]:
date_columns = sbanational_df.select_dtypes(include=['datetime64'])
print(date_columns.columns.tolist())

[]

In [30]:
# convert date cols to date format
date_columns=['ApprovalDate','DisbursementDate']
for column in date_columns:
    sbanational_df[column]=sbanational_df.date_columns(sbanational_df[column])

AttributeError: 'DataFrame' object has no attribute 'to_datetime'